# üìå Pandas Basics - Complete Guide

This notebook covers all fundamental operations and functions in Pandas, step by step.

## üìç 1. Importing Pandas

import pandas as pd

## üìç 2. Creating a Basic DataFrame

In [ ]:

import pandas as pd 

# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime

# Display DataFrame
a = employee_data

## üìç 3. Basic Data Exploration

In [ ]:
import pandas as pd

# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime


# Display first 3 rows
b = employee_data.head(3)

In [ ]:
import pandas as pd

# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime

# Display last 2 rows
c = employee_data.tail(2)

In [ ]:
import pandas as pd

# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime

# Summary Information
d = employee_data.info()

In [ ]:
import pandas as pd

# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime

# Statistical Summary
e = employee_data.describe().transpose()

## üìç 4. Selecting Data

In [ ]:
# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime


# Select single column
f = employee_data['Salary']

In [ ]:
# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime

# Select multiple columns
g = employee_data[['Employee', 'Department']]

In [ ]:
# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime

# Select rows using loc (label-based)
h = employee_data.loc[1:3, ['Employee', 'Salary']]

In [ ]:
# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime

# Select rows using iloc (position-based)
i = employee_data.iloc[0:2, 0:3]

## üìç 5. Adding & Removing Columns

In [ ]:
# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime

# Add a new column
employee_data['Bonus'] = employee_data['Salary'] * 0.1
j = employee_data

In [ ]:
# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime

# Drop a column
employee_data.drop(columns=['Bonus'], inplace=True)
k = employee_data

## üìç 6. Sorting & Ranking

In [ ]:
# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime


# Sort by Salary descending
l = employee_data.sort_values(by='Salary', ascending=False)

In [ ]:
# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime


# Rank salaries
employee_data['Salary_Rank'] = employee_data['Salary'].rank(method='dense', ascending=False)
m = employee_data['Salary_Rank']

## üìç 7. Aggregations

In [ ]:
# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime

# Group by Department and calculate average salary
n = employee_data.groupby('Department')['Salary'].mean()

## üìç 8. Merging DataFrames

In [ ]:
# Sample Employee Data

data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime


# Creating another DataFrame

new_hires = pd.DataFrame({
    'Employee': ['Frank', 'Grace'],
    'Salary': [48000, 52000],
    'Department': ['IT', 'Finance']
})

# Concatenating both DataFrames
combined_data = pd.concat([employee_data, new_hires], ignore_index=True)
o = combined_data

## üìç 9. Handling Missing Data

In [ ]:
# Sample Employee Data
data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime


# Checking for missing values
p = combined_data.isna().sum()

In [ ]:
# Sample Employee Data

data = {
    'Employee': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Salary': [50000, 60000, 55000, 70000, 65000],
    'Department': ['IT', 'HR', 'Finance', 'IT', 'HR'],
    'Joining_Date': ['2015-06-23', '2018-07-18', '2016-08-21', '2019-09-12', '2020-01-10']
}

# Creating DataFrame
employee_data = pd.DataFrame(data)
employee_data['Joining_Date'] = pd.to_datetime(employee_data['Joining_Date']) # Convert to datetime


# Filling missing values

combined_data.fillna({'Salary': 50000}, inplace=True)
q = combined_data

## üìç 10. Exporting Data

#### Export to CSV (won't work in this browser) - Try it in your machine.
#### combined_data.to_csv('employees.csv', index=False)