 
# üìåTopic 1: Introduction to Pandas

## What is Pandas?
Pandas is a powerful Python library for data manipulation and analysis. It provides flexible data structures such as Series and DataFrame that allow for efficient data handling.

## Installing Pandas
Before using Pandas, you need to install it. Run the following command in your terminal or command prompt:
```sh
pip install pandas
```

## Importing Pandas
Let's start by importing the Pandas library:

# Importing pandas
import pandas as pd

# Checking the version of pandas
print("Pandas Version:", pd.__version__)

 
## üìç Creating a Simple Series
A Series is a one-dimensional labeled array capable of holding any data type.

In [2]:
# Creating a Series
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data)
a = series

0    10
1    20
2    30
3    40
4    50
dtype: int64

 
## üìç Creating a Simple DataFrame
A DataFrame is a two-dimensional labeled data structure with columns of potentially different types.

In [3]:
# Creating a DataFrame from a dictionary

import pandas as pd 
data = {
    'Name': ['Amit', 'Neha', 'Rahul', 'Priya'],
    'Age': [25, 30, 22, 28],
    'City': ['Mumbai', 'Delhi', 'Bangalore', 'Chennai']
}
df = pd.DataFrame(data)

b = df

    Name  Age       City
0   Amit   25     Mumbai
1   Neha   30      Delhi
2  Rahul   22  Bangalore
3  Priya   28    Chennai

 
# Topic 2: Pandas Data Structures

## üìç Pandas Series
A Series is a one-dimensional array-like structure with labels (index). It can hold any data type.

In [4]:
import pandas as pd

# Creating a Series from a list
data = [100, 200, 300, 400, 500]
series1 = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])

c = series1

Series:
 a    100
b    200
c    300
d    400
e    500
dtype: int64

 
## üìç Pandas DataFrame
A DataFrame is a two-dimensional labeled data structure with columns of potentially different types.

In [5]:
# Creating a DataFrame from a dictionary
data = {
    'Employee': ['Raj', 'Krish', 'Amit', 'Priya'],
    'Salary': [50000, 60000, 55000, 52000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing']
}
df1 = pd.DataFrame(data)

d = df1

DataFrame:

  Employee  Salary Department
0      Raj   50000         IT
1    Krish   60000         HR
2     Amit   55000    Finance
3    Priya   52000  Marketing

## üìç 10. Exporting Data

#### Export to CSV (won't work in this browser) - Try it in your machine.
#### combined_data.to_csv('employees.csv', index=False)