In [ ]:
import pandas as pd

# Create the first dataframe
data1 = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]})

# Create the second dataframe
data2 = pd.DataFrame({'Name': ['David', 'Eva', 'Frank'], 'Age': [40, 45, 50]})

# Concatenate the dataframes
result = pd.concat([data1, data2])

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Employee': ['Raj', 'Krish', 'Amit', 'Priya'],
    'Salary': [50000, 60000, 55000, 52000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing']
}

df = pd.DataFrame(data)

a = df.describe().transpose()

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Employee': ['Raj', 'Krish', 'Amit', 'Priya'],
    'Salary': [50000, 60000, 55000, 52000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing']
}

df = pd.DataFrame(data)

df.describe().transpose()

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Employee': ['Raj', 'Krish', 'Amit', 'Priya'],
    'Salary': [50000, 60000, 55000, 52000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing']
}

df = pd.DataFrame(data)

b = df.head(2)

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Employee': ['Raj', 'Krish', 'Amit', 'Priya'],
    'Salary': [50000, 60000, 55000, 52000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing']
}

df = pd.DataFrame(data)

df.head(1)

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Employee': ['Raj', 'Krish', 'Amit', 'Priya'],
    'Salary': [50000, 60000, 55000, 52000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing']
}

df = pd.DataFrame(data)

df.sample(2)

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Employee': ['Raj', 'Krish', 'Amit', 'Priya'],
    'Salary': [50000, 60000, 55000, 52000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing']
}

df = pd.DataFrame(data)

c = df.describe()

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Employee': ['Raj', 'Krish', 'Amit', 'Priya'],
    'Salary': [50000, 60000, 55000, 52000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing']
}

df = pd.DataFrame(data)

b = df.head(2)

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Employee': ['Raj', 'Krish', 'Amit', 'Priya'],
    'Salary': [50000, 60000, 55000, 52000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing']
}

df = pd.DataFrame(data)

a = df.describe().transpose()

In [ ]:
data = [[10, 18, 11], [13, 15, 8], [9, 20, 3]]

df = pd.DataFrame(data)

print(df.max())

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Employee': ['Raj', 'Krish', 'Amit', 'Priya'],
    'Salary': [50000, 60000, 55000, 52000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing']
}

df = pd.DataFrame(data)

c = df.tail(1)

d = df.describe().transpose()

e = df.sample(1)

f = df[['Employee', 'Salary']]

g = df.max()

In [ ]:
import pandas as pd

# Creating a sample DataFrame
data = {
    'Employee': ['Raj', 'Krish', 'Amit', 'Priya'],
    'Salary': [50000, 60000, 55000, 52000],
    'Department': ['IT', 'HR', 'Finance', 'Marketing']
}

df = pd.DataFrame(data)

df.tail(1)

In [ ]:
a = df.tail(1)

print(a)

In [ ]:
df.describe().transpose()

In [ ]:
df.sample(1)

In [ ]:
df[['Employee', 'Salary']]

In [ ]:
df.max()