In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Set the aesthetic style of the plots
sns.set(style="whitegrid")

# Load the 'wine.data.csv' dataset from the local storage
df = pd.read_csv('wine.data.csv')

# Display the first few rows of the dataframe
print(df.head())

# Perform a simple data analysis
# Describe the dataset to get summary statistics
print(df.describe().transpose())

# Plot a pairplot of the dataframe
sns.pairplot(df)
plt.show()

In [1]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# Create DataFrame
df1 = pd.DataFrame(data)

a = df1

print(a)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [2]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicagooooooooooo']
}

# Create DataFrame
df2 = pd.DataFrame(data)

b = df2

print(b)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angelessssssssssssssssss', 'Chicago']
}

# Create DataFrame
df3 = pd.DataFrame(data)

c = df3

print(c)

In [ ]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeleeeeeeeeeeeeeeees', 'Chicago']
}

# Create DataFrame
df4 = pd.DataFrame(data)

d = df4.describe().transpose()

print(d)

In [ ]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New Yorkkkkkkkkkk', 'Los Angeles', 'Chicago']
}

# Create DataFrame
df5 = pd.DataFrame(data)

e = df5.tail(1)

print(e)

In [ ]:
import pandas as pd

# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# Create DataFrame
df6 = pd.DataFrame(data)

f = df6.sample(1) 

print(f)