In [12]:
import pandas as pd
from IPython.display import HTML

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

# Render the DataFrame as an HTML table
a = df.head(2)

# Display the HTML table in the notebook
HTML(a.to_html())

In [16]:
import pandas as pd
from IPython.display import HTML

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

a = df.describe().transpose()

# Display the HTML table in the notebook

HTML(a.to_html())